@import url('https://fonts.googleapis.com/css2?family=Gurajada&family=Sedgwick+Ave&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  body {
   background-color: midnightblue;
   font-family: "Sedgwick Ave", cursiva;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
      }
      
      .swiper-button-prev::after {
        font-size: 25px;
      }
      .swiper-button-next::after {
        font-size: 25px;
      }
      .swiper-button-next {
        color: aquamarine;
      }
      .swiper-button-prev::{
        color: aquamarine;
      }
      .swiper-pagination-buller {
        background-color: blueviolet;
        opacity: 1;
      }
      .swiper-pagination-buller-active {
        background-color: aquamarine;
      }
      